<%- include('../Partials/Header')%>
    <div class="container ">
        <div class="d-flex align-items-center justify-content-center mt-2">
            <img src="https://clipart-library.com/2023/bookstore-clipart-xl.png" alt="book" class="img-fluid" style="height: 600px;">
        </div>
    </div>
    <%- include('../Partials/Footer')%>